/* Shipping.css */

.shipping-page-container {
  background-color: #fff; /* Light grey background for a clean look */
  padding: 50px 0;
}

.content-wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px;
 }

.shipping-heading {
  font-family: 'Lato Bold', sans-serif;
  color: #2c3e50;
  font-weight: 600;
  font-size: 28px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

.text-section {
  font-family: "Caudex", serif;
  line-height: 1.8em;
  text-align: left;
  font-weight: 500;
  margin-bottom: 30px;
  color: #555; /* Softer text color for readability */
}

.section-heading {
  font-family: "Caudex", serif;
  color: #2c3e50;
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}

.shipping-div {
  font-family: "Caudex", serif;
  text-align: left;
  font-weight: 500;
  color: #333; /* Consistent color for body text */
  line-height: 1.7em;
  padding: 10px 0; /* Spacing between items */
}

.divider {
  margin: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Lighter divider for a cleaner look */
}

@media (min-width: 768px) {
  .shipping-div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .shipping-div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .shipping-heading {
    font-size: 32px;
  }
  .h1shipping-heading {
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  .shipping-heading {
    font-size: 24px;
  }
  .h1shipping-heading {
    font-size: 28px;
    text-align: center;

  }
}

@media (max-width: 370px) {
  .content-wrapper {
    /* background: red; */
    width: 100%;
    /* max-width: 1100px; */
    /* margin: 0 auto; */
    padding: 0px;
   }
}