/* Corporate.css */

.corporate-page-container {
  padding: 40px 0;
}

.content-wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.main-heading {
  font-family: 'Lato Bold', sans-serif;
  color: #2c3e50;
  font-weight: 600;
  font-size: 28px;
  /* font-style: italic; */
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

.text-section {
  font-family: "Caudex", serif;
  line-height: 1.7em;
  text-align: left;
  font-weight: 500;
  margin-bottom: 40px;
  color: #555; /* Softer text color for readability */
}

.section {
  margin-bottom: 50px;
}

.sub-heading {
  font-family: "Caudex", serif;
  color: #2c3e50;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}

.corporate-div {
  font-family: "Caudex", serif;
  text-align: left;
  font-weight: 500;
  color: #333; /* Consistent color for body text */
  line-height: 1.6em;
}

.bold-text {
  font-weight: bold;
  color: #7F3F98; /* Highlighted color for emphasis */
}

@media (min-width: 768px) {
  .corporate-div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .corporate-div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .main-heading {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .main-heading {
    font-size: 24px;
  }
}

.corporate-heading {
  font-family: 'Lato Bold', sans-serif;
  /* font-style: italic; */
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Default font size for large screens */
@media (min-width: 1024px) {
  .corporate-heading {
    font-size: 38px; /* Large font size for desktops */
  }
}

/* Adjust font size for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .corporate-heading {
    font-size: 30px; /* Medium font size for tablets */
  }
}

/* Adjust font size for small screens */
@media (max-width: 767px) {
  .corporate-heading {
    font-size: 22px; /* Smaller font size for mobile devices */
  }
}

/* Fine-tune font size for very small screens */
@media (max-width: 480px) {
  .corporate-heading {
    font-size: 28px; /* Smallest font size for very small mobile devices */
    text-align: center;

  }
}
